
.firstLanding {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 60px 0 40px;
  gap: 12px;
}

.firstLanding .logo {
  width: 150px;
  height: 150px;
}

.firstLanding p {
  max-width: 70%;
}

.mainEvent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 60px 0 40px;
  gap: 5px;
}

.mainEvent h2{
  font-weight: 500;

}

.mainEvent p {
  max-width: 90%;
}

.mainEvent .logo {
  width: 400px;
  height: 400px;
}

.eventsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
}

.eventCard {
  position: relative;
  overflow: hidden;
}

.eventCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.eventCardButtons {
  position: absolute;
  bottom: 24px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
  z-index: 1;
}

@media (max-width: 768px) {
  .mainEvent .logo {
    width: 200px;
    height: 200px;
  }

  .firstLanding p {
    max-width: 90%;
  }
  .eventsGrid {
    grid-template-columns: 1fr;
  }
}