.logo {
  width: 300px;
  height: 300px;
}

.landingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
  padding-top: 40px;
}

.buttonContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:10px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.sectionDivider {
  width: 100%;
  background-color: white;
  border-top: 0px solid white;
  /* margin: 0; */
}

.mainEventSection{
  width: 100%;
  background-color: #000000;
  padding: 25px 0;
}

.mainEventSection img {
  width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
  padding-bottom: 30px;
}

.eventsGrid {
  display: grid;
  background-color: white;
  margin-top: -20px;
  grid-template-columns: 1fr 1fr;
  gap: 14px;
  width: 100%;
  padding: 14px;
  box-sizing: border-box;
}

.eventCard {
  position: relative;
}

.eventCard img {
  width: 100%;
  height: auto;
  display: block;
}

.eventCardButtons {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

