.landingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.buttonContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:10px;
    padding-top: 12px;
    padding-bottom: 0;
}

.mainEventSection{
  width: 100%;
  background-color: #000000;
  padding: 40px 0;
  border-bottom: 1px solid #d6d6d6;
}

.mainEventSection img {
  width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
  padding-bottom: 30px;
}

.eventsGrid {
  display: grid;
  background-color: white;
  grid-template-columns: 1fr 1fr;
  gap: 14px;
  width: 100%;
  padding: 14px;
  box-sizing: border-box;
}

.eventCard {
  position: relative;
}

.eventCard img {
  width: 100%;
  height: auto;
  display: block;
}

.eventCardButtons {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.Divider {
  width: 100%;
  border: none;
  border-top: 15px solid #fff;
  margin: 0;
}

@media (max-width: 768px) {
  .eventsGrid {
    grid-template-columns: 1fr;
  }
  .eventCardButtons {
    bottom: 16px;
  }
}

