.footerLine {
    height: 2px;
    width: 95%;
    background-color: white;
}

.footerContainer {
    width: 100%;
    height: 60px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 0 50px;
    background-color: white;
}

.footerContainer p {
    color: black;
    font-family: "Inter", serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.socialsContainer {
    display: flex;
    flex-flow: row nowrap;
    gap: 26px;
}

.socialsContainer > a > img {
    width: 30px;
    height: 30px;
}

@media (max-width: 480px) {
  .footerContainer {
    flex-flow: column;
    height: auto;
    padding: 16px;
    gap: 8px;
    box-sizing: border-box;
  }
}
