@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  color: #000000;
  background-color: #F4F4F7;
}

.title {
  font-family: 'Inter', sans-serif;
  font-weight: 550;
  font-size: 4rem;
  margin: 0;
}

.description {
  font-family: 'Inter', sans-serif;
  font-weight: 350;
  font-size: 1rem;
  color: #888;
  margin: 0;
  text-align: center;
}

.descriptionWidget {
  font-family: 'Inter', sans-serif;
  font-weight: 350;
  font-size: 0.9rem;
  margin: 0;
  text-align: center;
}

.btn-text {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 1rem;
}